	{% load static %}


	<!-- NAVIGATION -->

	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<!--nếu có page thì sidebar sổ xuống sẵn-->
				{% if page %}
				<div class="category-nav">
					<span class="category-header">Categories <i class="fa fa-list"></i></span>
					{% load mptt_tags %}

					<ul class="category-list">
					{% recursetree category %}
						<li class="dropdown side-dropdown">
							<a href="/category/{{ node.id }}/{{ node.slug }}"class="dropdown-toggle"{% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="true"{% endif %}>{{ node.title }} <i class="fa fa-angle-right"></i></a>
							<div class="custom-menu" style="width: auto;">
								<div class="row">
									<div class="col-md-12">
									{% if not node.is_leaf_node %}
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Sub Categories</h3></li>
											<li>{{ children }}</li>
										</ul>
									{% endif %}
										<hr class="hidden-md hidden-lg">		
									</div>
									{% comment %} <div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Categories</h3></li>
											<li><a href="#">Women’s Clothing</a></li>
											<li><a href="#">Men’s Clothing</a></li>
											<li><a href="#">Phones & Accessories</a></li>
											<li><a href="#">Jewelry & Watches</a></li>
											<li><a href="#">Bags & Shoes</a></li>
										</ul>
										<hr class="hidden-md hidden-lg">
									</div>
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Categories</h3></li>
											<li><a href="#">Women’s Clothing</a></li>
											<li><a href="#">Men’s Clothing</a></li>
											<li><a href="#">Phones & Accessories</a></li>
											<li><a href="#">Jewelry & Watches</a></li>
											<li><a href="#">Bags & Shoes</a></li>
										</ul>
									</div> {% endcomment %}
								</div>
								{% comment %} <div class="row hidden-sm hidden-xs">
									<div class="col-md-4">
										<hr>
										<a class="banner banner-1" href="#">
											<img src="{% static './img/banner05.jpg' %}" alt="">
											<div class="banner-caption text-center">
												<h2 class="white-color">NEW COLLECTION</h2>
												<h3 class="white-color font-weak">HOT DEAL</h3>
											</div>
										</a>
									</div>
								</div> {% endcomment %}
							</div>
						</li>
					{% endrecursetree %}

						{% comment %} <li><a href="#">View All</a></li> {% endcomment %}
					</ul>
				</div>
				{% else %}
				<div class="category-nav show-on-click">
					<span class="category-header">Categories <i class="fa fa-list"></i></span>
					<ul class="category-list">
					{% recursetree category %}
						<li class="dropdown side-dropdown">
							<a href="/category/{{ node.id }}/{{ node.slug }}"class="dropdown-toggle"{% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="true"{% endif %}>{{ node.title }} <i class="fa fa-angle-right"></i></a>
							<div class="custom-menu" style="width: auto;">
								<div class="row">
									<div class="col-md-12">
									{% if not node.is_leaf_node %}
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Sub Categories</h3></li>
											<li>{{ children }}</li>
										</ul>
									{% endif %}
										<hr class="hidden-md hidden-lg">		
									</div>
								</div>
							</div>
						</li>
					{% endrecursetree %}

						{% comment %} <li><a href="#">View All</a></li> {% endcomment %}
					</ul>
				</div>
				<!-- /category nav -->
				{% endif %}
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="{% url 'home:index'%}">Home</a></li>
						<li><a href="{% url 'home:shipping_policy' %}">Shiping Guide</a></li>
						<li><a href="{% url 'home:payment_policy' %}">Payment Policy</a></li>
						<li><a href="{% url 'home:contact' %}">Contact</a></li>
						<li><a href="{% url 'home:aboutus' %}">About Us</a></li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
