{% extends 'home/homebase.html' %}
{% load static %}
{% block title %}  {{user.first_name}} Reset Password{% endblock  %}
{% block description %}{{setting.description}}{% endblock  %}
{% block keywords %}{{setting.keywords}}{% endblock  %}

{% block sidebar %}{% include 'home/sidebar.html' %}{% endblock %} 

{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Reset Password</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                <!--safe dùng để format lại font chữ -->
                <div class="col-md-3">
					{% include "user/user_panel.html" %}
                </div>
				<div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">	
                            <h3 class="title">Reset Password</h3>
                        </div>
                    </div>

					{% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
					<p>Forgotten your password? Enter your email address below, and we'll email instructions
					for setting a new one</p>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="primary-btn" type="submit" name="Send email">Submit</button>
                    </form>

                </div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->


{% endblock %}